/* .md-nav.md-nav--primary {
	visibility: hidden;
}

.md-header-nav__button.md-icon {
	visibility: hidden;
}

.md-header__button.md-icon {

	visibility: hidden;
} */


.md-footer {
	visibility: hidden;
}
.headerlink {
	/* display: none; */
	visibility: hidden;
}

.headerlink:before {
	content: "<";
	visibility: visible;
}